<hr>
<div class="form-group">
  <label for="textVersion">Select time</label>
  <input type="text" class="form-control" id="textVersion" name="textVersion" placeholder="Timeframe to send">
  <p class="help-block">eg. Tomorrow, +2 days, This Sunday, Next Monday, +1 hour</p>
</div>
OR
<div class="form-group">
  <label for="dateVersion"></label>
  <input type="datetime-local" class="form-control" id="dateVersion" name="dateVersion" placeholder="datetime">
  <p class="help-block">Set custom date and time</p>
</div>
<div class="form-group">
  <label for="template">Select Template</label>
  <select class="form-control" id="template" name="templateId">
    <?php require_once 'php/getEmailMsg.php';
      foreach ($results as $row) {
        echo "<option value='{$row['id']}'>{$row['templateName']}</option>";
      }
    ?>
  </select>
</div>
<div class="form-group">
  <label for="additionalAction"></label>
  <input type="text" class="form-control" id="additionalAction" placeholder="">
  <p class="help-block">Help text here.</p>
</div>
<div class="form-group" id="formActions">
  <label for=""></label>
  <button type="button" class="btn btn-info" id="addAction">Add Action</button>
  <button type="submit" class="btn btn-primary" id="finished">Finish</button>
</div>
